repos:
-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    -   id: black
# -   repo: https://gitlab.com/pycqa/flake8
#     rev: 3.7.9
#     hooks:
#     -   id: flake8
-   repo: https://github.com/pycqa/isort
    rev: 5.9.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
